networks:
  project-net:
    driver: bridge

services:  
  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
      - MINIO_REGION_NAME=us-east-1
      - MINIO_REGION=us-east-1
    networks:
      - project-net
    ports:
      - "9001:9001"
    command: [ "server", "/data", "--console-address", ":9001" ]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9001"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    volumes:
      - ./docker-data/minio:/data
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512MB
        reservations:
          memory: 128M  # Đảm bảo luôn có ít nhất 128MB

  mc:
    depends_on:
      minio:
        condition: service_healthy
    image: mymc
    build: 
      context: .
      dockerfile: ./dockerfiles/mc.dockerfile
    container_name: mc
    networks:
      - project-net
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
      - MINIO_REGION_NAME=us-east-1
      - MINIO_REGION=us-east-1

  master:
    container_name: master
    image: spark # Dùng để đặt tên cho image build
    build: 
      context: .
      dockerfile: ./dockerfiles/spark.dockerfile
    networks:
      - project-net
    environment:
      - MODE=master
    ports:
      - "8080:8080"
      - "7077:7077"
      - "8081:8081"
      - "4040:4040"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1g
    volumes:
      - ./pipeline/target/scala-2.13:/opt/spark/work-dir/jars
    
  
  worker1:
    container_name: worker1
    image: spark
    build: 
      context: .
      dockerfile: ./dockerfiles/spark.dockerfile
    networks:
      - project-net
    environment:
      - MODE=worker
      - MASTER_URL=spark://master:7077
    depends_on:
      master:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1g
  
  worker2:
    container_name: worker2
    image: spark
    build: 
      context: .
      dockerfile: ./dockerfiles/spark.dockerfile
    networks:
      - project-net
    environment:
      - MODE=worker
      - MASTER_URL=spark://master:7077
    depends_on:
      master:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1g
  
  worker3:
    container_name: worker3
    image: spark
    build: 
      context: .
      dockerfile: ./dockerfiles/spark.dockerfile
    networks:
      - project-net
    environment:
      - MODE=worker
      - MASTER_URL=spark://master:7077
    depends_on:
      master:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1g
  
  # MongoDB
  mongo-primary:
    image: capstone-mongo
    container_name: mongo-primary
    build: 
      context: .
      dockerfile: ./dockerfiles/mongo.dockerfile
      args:
        IMAGE_NAME: mongo:6.0.27
    env_file:
      - ./.env
    networks:
      - project-net
    ports:
      - "27017:27017"
    volumes:
      - ./docker-data/mongo1:/data/db
    depends_on:
      mongo-secondary-1:
        condition: service_healthy
      mongo-secondary-2:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512MB
        reservations:
          memory: 128M  # Đảm bảo luôn có ít nhất 128MB

  mongo-secondary-1:
    image: capstone-mongo
    container_name: mongo-secondary-1
    build: 
      context: .
      dockerfile: ./dockerfiles/mongo.dockerfile
      args:
        IMAGE_NAME: mongo:6.0.27
    env_file:
      - ./.env
    networks:
      - project-net
    ports:
      - "27018:27017"
    volumes:
      - ./docker-data/mongo2:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "localhost:27017", "--eval", "db.runCommand({ping:1})", "--quiet"]
      interval: 1m30s
      timeout: 1m
      retries: 5
      start_period: 30s
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512MB
        reservations:
          memory: 128M  # Đảm bảo luôn có ít nhất 128MB

  mongo-secondary-2:
    image: capstone-mongo
    container_name: mongo-secondary-2
    build: 
      context: .
      dockerfile: ./dockerfiles/mongo.dockerfile
      args:
        IMAGE_NAME: mongo:6.0.27
    env_file:
      - ./.env
    networks:
      - project-net
    ports:
      - "27019:27017"
    volumes:
      - ./docker-data/mongo3:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "localhost:27017", "--eval", "db.runCommand({ping:1})", "--quiet"]
      interval: 1m30s
      timeout: 1m
      retries: 5
      start_period: 30s
    
  mongo-setup:
    image: capstone-mongo-setup
    container_name: mongo-setup
    build: 
      context: .
      dockerfile: ./dockerfiles/mongo-setup.dockerfile
      args:
        IMAGE_NAME: mongo:6.0.27
    env_file:
      - ./.env
    networks:
      - project-net
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512MB
        reservations:
          memory: 128M  # Đảm bảo luôn có ít nhất 128MB

  kafka:
    image: apache/kafka:4.1.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_NODE_ID=1
      - KAFKA_PROCESS_ROLES=broker,controller
      - KAFKA_LISTENERS=PLAINTEXT_INTERNAL://0.0.0.0:29092,PLAINTEXT_EXTERNAL://0.0.0.0:9092,CONTROLLER://:9093
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT_INTERNAL://kafka:29092,PLAINTEXT_EXTERNAL://localhost:9092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT_INTERNAL:PLAINTEXT,PLAINTEXT_EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT_INTERNAL
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    networks:
      - project-net

  kafdrop:
    image: obsidiandynamics/kafdrop:4.2.0
    container_name: kafdrop
    ports:
      - "9020:9000"
    environment:
      - KAFKA_BROKERCONNECT=kafka:29092
    networks:
      - project-net
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512MB
        reservations:
          memory: 128M  # Đảm bảo luôn có ít nhất 128MB
  
  kafka-init:
    image: apache/kafka:4.1.0
    container_name: kafka-init
    depends_on:
      - kafka
    command: >
      sh -c "/opt/kafka/bin/kafka-topics.sh --create --if-not-exists --topic test-topic --bootstrap-server kafka:29092"
    networks:
      - project-net

  cassandra:
    image: cassandra:5.0.6
    container_name: cassandra
    networks:
      - project-net
    hostname: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_SEEDS=cassandra
      - CASSANDRA_CLUSTER_NAME=cassandra_cluster
      - CASSANDRA_DC=DC1
      - CASSANDRA_RACK=Rack1
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_NUM_TOKENS=16
      - MAX_HEAP_SIZE=800M
      - HEAP_NEWSIZE=200M
    volumes:
      - ./docker-data/cassandra:/var/lib/cassandra
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1.5g
        reservations:
          memory: 128M  